<!--<app-title [titleVar]="titleHome"></app-title>
<br>-->

<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <!--<h1 class="display-2">CadeMédico</h1>-->
            <img src="/assets/img/Logo.png" class="rounded mx-auto d-block" alt="text">
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <br>
  <br>
  <h1 class="display-6">Localizar o Médico</h1>
  <div class="row">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Pelo Nome do Médico">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Pela Especialidade">
    </div>
    <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
  </div>
  <br>

  <!--Carrossel-->

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/css.svg"  class="d-block w-50" alt="..." width= "100px" height= "100px">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/html-5.svg" class="d-block w-50" alt=""width= "100px" height= "100px">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/website.svg" class="d-block w-50" alt=""width= "100px" height= "100px">
      </div>
    </div>
  </div>
